[Unit]
Description=Database-Listener Service

[Service]
User=root
Type=simple
TimeoutSec=0
PIDFile=/var/run/prodDBListener.pid
ExecStart=/usr/bin/php /home/brett/git/IT490Proj/Environments/prod/dbListener.php > /dev/null 2>/dev/null
KillMode=process

Restart=always
RestartSec=3s

[Install]
WantedBy=default.target

